@import "variables";

body {
  margin: 0;
  text-decoration: none;
}

.hide {
  display: none;
}

a:hover {
  text-decoration: none;
}

.booking-link {
  font-weight: bold;
}

.navbar {
  box-shadow: 10px 10px 10px -9px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  border-bottom: 3px solid rgba(19, 132, 150, 0.8);
  &-nav {
      display: inline-block;
  }
  li {
    display: inline-block;
    padding: 0 1em 0 1em;
  }
}

.jumbotron {
  padding-top: 170px;
  padding-bottom: 50px;
  &-background {
    background-color: white;
  }
  &-container {
    max-width: 40rem;
  }
  &-content {
    line-height: 2rem;
  }
  h1 {
    text-align: center;
    color: $darkgray;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
}

.slider {
  background-color: whitesmoke;
  padding: 85px 0 20px 0;
  margin-bottom: 2em;
  overflow: hidden;
  position: relative;
  &-title {
    font-family: "Roboto";
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 7px;
    padding-bottom: 1.5rem;
  }
  &-slide {
    display: none;
    width: 100%;
    border-bottom: 2px solid #40a3bd;
    position: relative;
    font-size: 1em;
  }
  &-active_slide {
    display: block !important;
  }
  &-buttons {
    margin-top: 15px;
    z-index: 2;
  }
  &-container {
    margin: 0;
    padding: 0;
  }
}

.slide {
  &-textcolor {
    color: $grey;
  }
  &-img {
    width: 100%;
  }
  &-one {
    &-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-75%, -50%);
      width: 55%;
      color: black;
      overflow: hidden;
    }
    &-title {
      font-size: 2.2em;
      padding-top: 20px;
      font-family: "Roboto";
    font-weight: 900;
      margin: auto;
      span {
        font-weight: bold;
        color: $redfont;
      }
    }
    &-text {
      margin: 1em 0 1em 0;
      font-family: "Roboto";
      font-weight: 700;
      font-size: 1.8em;
      line-height: 1.5em;
    }
    &-textplus {
      font-size: 1.3em;
      font-family: "Roboto";
      font-weight: 400;
    }
    span {
      font-weight: bold;
      color: $redfont;
    }
  }
  &-two {
    &-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-25%, -50%);
      width: 55%;
      color: black;
      overflow: hidden;
    }
    &-title {
      font-size: 2.2em;
      padding-top: 20px;
      font-family: "Roboto";
      font-weight: 900;
      margin: auto;
      span {
        font-weight: bold;
        color: $redfont;
      }
    }
    &-text {
      margin: 1em 0 1em 0;
      font-family: "Roboto";
      font-weight: 700;
      font-size: 1.8em;
      line-height: 1.5em;
    }
    &-text_plus {
      font-size: 1.3em;
      font-family: "Roboto";
      font-weight: 500;
      span {
        font-style: italic;
        color: $redfont;
      }
    }
    span {
      font-weight: bold;
    }
  }
  &-three {
    &-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-65%, -50%);
      width: 55%;
      color: black;
      overflow: hidden;
    }
    &-title {
      font-size: 2.2em;
      padding-top: 20px;
      font-family: "Roboto";
      font-weight: 900;
      margin: auto;
      span {
        font-weight: bold;
        color: $redfont;
      }
    }
    &-text {
      margin: 1em 0 1em 0;
      font-family: "Roboto";
      font-weight: 700;
      font-size: 1.8em;
      line-height: 1.5em;
    }
    &-textplus {
      font-size: 1.3em;
      font-family: "Roboto";
      font-weight: 500;
      span {
        font-style: italic;
        color: $redfont;
      }
    }
    span {
      font-weight: bold;
    }
  }
  &-four {
    &-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-25%, -50%);
      width: 55%;
      color: black;
      overflow: hidden;
    }
    &-title {
      font-size: 2.2em;
      padding-top: 20px;
      font-family: "Roboto";
      font-weight: 900;
      margin: auto;
      span {
        font-weight: bold;
        color: $redfont;
      }
    }
    &-text {
      margin: 1em 0 1em 0;
      font-family: "Roboto";
      font-weight: 700;
      font-size: 1.7em;
      line-height: 1.5em;
    }
    &-textplus,
    &-extracontent {
      font-size: 1.1em;
      font-family: "Roboto";
      font-weight: 500;
      span {
        font-style: italic;
        color: $redfont;
      }
    }
    span {
      font-weight: bold;
    }
  }
}

.fa-angle-double-left,
.fa-angle-double-right {
  vertical-align: -2px;
  margin-right: 5px;
  margin-left: 5px;
}

.map {
  padding-top: 85px;
  &-dimension {
    max-width: 90%;
    display: inline-block;
  }
  &-titlesection {
    font-family: "Roboto";
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 7px;
    padding-bottom: 1.5rem;
  }
  &-mapdiv {
    height: 600px;
    max-height: 600px;
  }
  &-stationdiv{
    max-height: 600px;
    &-title {
      margin-top: 1rem;
    }
  }
  &-button {
    z-index: 410;
    margin-top: 10px;
  }
}

.booking {
  &-button {
    margin-bottom: 5px;
  }
}

.table {
  td {
    vertical-align: middle;
  }
  &-bold {
    font-weight: bold;
  }
  &-responsive {
    margin-top: 25px;
    margin-bottom: 15px;
  }
}

.button_split {
  width: 30%;
  margin: auto;
  height: 2px;
  margin-bottom: 1rem;
  text-align: center;
  background-color: $darkgray;
}

.popup {
  &-infos_station {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
  }
  &-infos_station_name {
    text-align: center;
  }
}

.alert {
  margin-top: 5px;
  &-position {
    width: 50%;
    margin: auto;
    margin-top: 20px;
  }
}
.booking-alert { 
  margin-top: 5px;
  &-position {
    width: 80%;
    margin: auto;  
    padding-bottom: 10px;
  }
  &-button {
    margin-top: 5px;
  }
}

.user-bookingform {
  max-width: 90%;
  margin: auto;
  margin-top: 15px;
  form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  &-lastname {
    margin-left: 5px;
  }
  &-button {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  &-cancelbutton {
    margin-top: 5px;
  }
}

.canvas {
  &-position {
    margin: auto;
  }
  &-button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &-confirm-button {
    margin-left: 10px;
  }
  &-cancel-button {
    margin-left: 10px;
  }
  &-border {
    border: 1px solid grey;
  }
}

#signature_canvas {
  display: none;
}

.footer {
  height: 100px;
  background-color: $darkgray;
  position: relative;
  margin-top: 50px;
  &-content {
    color: white;
    font-family: "Roboto";
    font-weight: 400;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
  }
}

.user-booking-summary {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  &-timer {
    font-weight: bold;
  }
  &-button {
    margin-top: 10px;
  }
}

#booking_description span {
  font-size: 1.2em;
  font-weight: bold;
}

#booking_station_name,
#current_clicked_station_name,
#booking_station_name_storage,
#booking_station_name_summary {
  font-weight: bold;
}

// ------ MEDIA QUERIES ------ //

@media (max-width: 1200px) {
  .map {
    &-stationdiv {
      &-cardbody {
        padding: 0.75em;
      }
      &-cardheader {
        padding: 0.25rem 0.5rem;
      }
      &-cardtextstation{
        margin-top: 10px;  
      }
    }
  }
    
  .table {
    &-responsive {
      overflow-x: unset;
    }
  }

  .map {
      &-stationdiv {
        &-cardtextstation {
          font-size: 0.9rem;
        }
      }
    }
}

@media (max-width: 1024px) {
  .slide-one,
  .slide-two,
  .slide-three {
    &-title {
      font-size: 1.5em;
    }
    &-text {
      font-size: 1.2em;
    }
    &-textplus {
      font-size: 0.9em;
    }
  }

  .slide-four {
    &-title {
      font-size: 1.2em;
    }
    &-text {
      font-size: 1em;
    }
    &-textplus {
      font-size: 0.7em;
    }
    &-extracontent {
      font-size: 0.7em;
    }
  }

  .table {
    &-responsive {
      margin: 0;
    }
  }
}

@media (max-width: 860px) {
  .map {
     &-stationdiv {
       margin-top: 10px;
       &-cardbody {
         padding: 1.25rem;
       }
       &-cardheader {
         padding: 0.75rem 1.25rem;
       }
       &-cardtextstation{
         margin-top: 20px;  
       }
     }    
   }
}

@media (max-width: 640px) {
  h1 {
    font-size: 2rem;
  }

  .slide-one,
  .slide-two,
  .slide-three {
    &-title {
      font-size: 0.8em;
    }
    &-text {
      font-size: 0.6em;
    }
    &-textplus {
      font-size: 0.4em;
    }
  }

  .slide-four {
    &-title {
      font-size: 0.7em;
    }
    &-text {
      font-size: 0.4em;
    }
    &-textplus {
      font-size: 0.3em;
      margin-bottom: 1em;
    }
    &-extracontent {
      font-size: 0.3em;
    }
  }

  .jumbotron {
    padding-top: 200px;
    h1 {
      font-size: 2rem;
    }
    &-content {
      font-size: 0.8rem;
    }
  }

  .slider {
    padding-top: 150px;
    &-title {
      font-size: 1.5rem;
    }
  }

  .navbar {
    overflow: hidden;
    &-nav {
      display: block;
      margin: auto;
    }
    &-brand {
      margin: auto;
    }
    li {
      display: block;
      text-align: center;
      margin: auto;
      padding: 0 1em 0 1em;
    }
  }

  .user-bookingform {
    max-width: 90%;
    margin: auto;
    margin-top: 15px;
    form {
      display: flex;
      flex-direction: column;
      align-content: space-between;
      margin-top: 20px;
    }
    &-lastname {
      margin-left: 0;
      margin-top: 5px;
    }
  }

  .alert {
    &-heading {
      font-size: 1.25rem;
    }
  }
}
