@import "variables";

body 
{
    background-color: rgb(250, 250, 250);
    margin: 5px;
    text-decoration: none;
}

h1
{
    text-align: center;  
    color: $darkgray;
}

.hide
{
    display: none;
}

[class*="col"] 
{
    margin-bottom: 20px;
}

.justify-content-center
{
    margin-bottom: 10px;
}

#description_booking_title, #description_booking_text
{
    text-align: center;
}

#description_booking_text span
{
    font-weight: bold;
}
/*---- DÉBUT SLIDER -----*/

.text_content_slide
{
    left: 50%;
    top: 50%;
    font-weight: bold;
    transform: translate(-50%,-50%);
    position: absolute;
    font-size: 1.5em;
    color: $darkgray;
}

.fa-angle-double-left, .fa-angle-double-right
{
    vertical-align: -2px;
    margin-right: 5px;
    margin-left: 5px;;
}

.slider_buttons
{
    z-index: 2;
}

.active_slide
{
    display: block!important;    
}

.slide_img 
{
    display: none;
    // width: 100%;
    // position: relative;
    height: 200px;
    // margin-top: 4px;
    // box-shadow: 10px 8px 25px 1px rgba(0,0,0,0.65);
    // border-radius: 0px 80px 0px 80px;
}

.blue
{
    background-color: rgb(0, 162, 236);
}

.red
{
    background-color: red;

    background: url("../assets/img/bike_6_resizeTest.jpg") no-repeat ;
    // background-size: 100px 500px;
}

.yellow
{
    background-color: rgb(247, 243, 59);
}

.green
{
    background-color: rgb(15, 179, 0);
}

.purple
{
    background-color: rgb(165, 0, 187);
}
/*---- FIN SLIDER -----*/

/*----- DÉBUT MAP -----*/

#return_to_map_button
{
    z-index: 406;
    margin-top: 10px;
}

.map_div
{
    z-index: 0;
}

.card-header
{
    margin-bottom: 12px;
}

#bike_station_map
{    
    // border: 2px solid red;
    // display: inline-block;
    width: 100%;
    height: 600px;
    // vertical-align: top;
    // position: relative;
    // padding: 10px;
}

#infos_station_description_status_green, #infos_station_description_status_red, #infos_station_description_status_orange
{
    display: none;
}

.available-bike, .total-bike, .total-stand-bike
{
    font-weight: bold;
}

.button_split
{
    width: 30%;
    margin: auto;
    height: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    background-color: $darkgray;
}

// #bike_station_details
// {
//     margin-left: 1px;
// }

/*----- FIN  MAP -----*/

#reservation_cancel_summary
{
    z-index: 10;
}


/*----- DÉBUT POPUP MARKER ----*/

.popup_infos_station
{
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    position: relative;
}

.popup_infos_station_name
{
    text-align: center;
}

.station_details_informations
{
    width: 100%;
    margin: auto;
}

.return_to_global_map
{
    width: 100%;
    margin: auto;
    margin-top: 5px;
}
/*----- FIN POPUP MARKER ----*/

/*----- DÉBUT INFOS STATIONS ----*/
#infos_bike_station
{
    // display: inline-block;
    // width: 100%;
    // margin-top: 80px;
    height: 600px;
}

#bike_station_details
{    
    text-align: center;
    z-index: 405;
}

#user_summary_details
{    
    display: none;
    text-align: center;
}

#user_summary_details span
{    
    font-weight: bold;
}

// .infos_station_introduction
// {    
//     font-weight: bold;
//     font-size: 1.2em;
// }

.infos_station_description
{
    text-align: justify;
}

// #user_summary_details
// {
//     display: block;    
//     text-align: center;
//     border: 2px solid blue;
//     display: inline-block;
//     height: 350px;
//     width: 24%;
//     padding: 15px;
// }
/*----- FIN INFOS STATIONS ----*/

/*----- DÉBUT BOOKING FORM ----*/
// #user_booking_form
// {
//     display: none;
// }

.form_description
{
    text-align: center;
}

.form_description span
{
    font-weight: bold;
}


#form_direction
{
    display: none;
}

.form_direction_text
{
    font-weight: bold;
}

#form_direction .fa-arrow-down
{
    margin-top: 20px;
    margin-left: 2px;
    margin-right: 2px;
}
// .fa-arrow-down
// {
//     float: right;
// }

// form
// {
//     text-align: center;
// }

.alert_nothing, .alert_first_name, .alert_last_name
{
    display: none;
    margin-top: 5px;
}

.alert_canvas
{
    display: none;
    margin-bottom: 5px;
}

.text_alert_canvas
{
    text-align: center;
}

.form-row label
{    
    font-size: 1.1em;
    color: $darkgray;
    text-align: center;
}


#booking_station_name, #current_clicked_station_name, #booking_station_name_storage, #booking_station_name_summary 
{
    font-weight: bold;
}

#user_with_booking > .text-warning 
 {
     font-weight: bold;
     font-size: 1.3rem;
     margin-bottom: 10px;
 }

// input
// {
//     color: #555;
//     text-align: center;
//     background-color: #fff;
//     border: 1px solid #ccc;
//     border-radius: 4px;   
//     box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
//     line-height: 2em;
// }

#reservation_status, #reservation_done
{
    text-align: center;
}

#reservation_status .card-title, #reservation_done .card-title
{
    font-weight: bold;
}

#booking_station_name, #reservation_status_timer
{
    font-weight: bold;
}

#reservation_confirm, #reservation_cancel
{
    display: none;
    height: 100px;
}

// #reservation_cancel_summary
// {
//     display: block;
//     height: 100px;
// }
/*----- FIN BOOKING FORM ----*/

/*----- DÉBUT CANVAS -----*/
#signature_canvas
{
    border: 1px solid blue;
    display: none;
}

#confirm_canvas, #clear_canvas
{
    display: none;
}