@import "variables";

// #region [rgba (0 ,255, 30, 0.1)]
// FONTFACE
@font-face {
  font-family: "roboto_black";
  src: url("../assets/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "roboto_blackitalic";
  src: url("../assets/fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "roboto_bold";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "roboto_regular";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "roboto_medium";
  src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
//#endregion

body {
  margin: 0;
  text-decoration: none;
}

.hide {
  display: none;
}

a:hover {
  text-decoration: none;
}

// [class*="col"] {
//   margin-bottom: 20px;
// }

.booking_link {
  font-weight: bold;
}

.navbar {
  box-shadow: 10px 10px 10px -9px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  border-bottom: 3px solid rgba(19, 132, 150, 0.8);
  &-nav {
      display: inline-block;
  }
  li {
    display: inline-block;
    padding: 0 1em 0 1em;
  }
}

.jumbotron {
  padding-top: 170px;
  padding-bottom: 50px;
  &-background {
    background-color: white;
  }
  &-container {
    max-width: 40rem;
  }
  &-content {
    line-height: 2rem;
  }
  h1 {
    text-align: center;
    color: $darkgray;
    font-family: "roboto_black";
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
}

.slider {
  background-color: whitesmoke;
  padding: 85px 0 20px 0;
  margin-bottom: 2em;
  overflow: hidden;
  position: relative;
  &-title {
    font-family: "roboto_black";
    text-transform: uppercase;
    padding-top: 7px;
    padding-bottom: 1.5rem;
  }
  &-slide {
    display: none;
    width: 100%;
    border-bottom: 2px solid #40a3bd;
  }
  &-active_slide {
    display: block !important;
  }
  &-buttons {
    margin-top: 15px;
    z-index: 2;
  }
  &-container {
    margin: 0;
    padding: 0;
  }
}

.slide {
  &-text_color {
    color: $grey;
  }
  &-img {
    width: 100%;
  }
}

.slide_one {
  position: relative;
  font-size: 1em;
  &-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-75%, -50%);
    width: 55%;
    color: black;
    overflow: hidden;
  }
  &-title {
    font-size: 2.2em;
    padding-top: 20px;
    font-family: "roboto_black";
    margin: auto;
    span {
      font-weight: bold;
      color: #d76754;
    }
  }
  &-text {
    margin: 1em 0 1em 0;
    font-family: "roboto_bold";
    font-size: 1.8em;
    line-height: 1.5em;
  }
  &-text_plus {
    font-size: 1.3em;
    font-family: "roboto_medium";
  }
  span {
    font-weight: bold;
    color: #d76754;
  }
}

.slide_two {
  position: relative;
  font-size: 1em;
  &-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-25%, -50%);
    width: 55%;
    color: black;
    overflow: hidden;
  }
  &-title {
    font-size: 2.2em;
    padding-top: 20px;
    font-family: "roboto_black";
    margin: auto;
    span {
      font-weight: bold;
      color: #d76754;
    }
  }
  &-text {
    margin: 1em 0 1em 0;
    font-family: "roboto_bold";
    font-size: 1.8em;
    line-height: 1.5em;
  }
  &-text_plus {
    font-size: 1.3em;
    font-family: "roboto_medium";
    span {
      font-style: italic;
      color: #d76754;
    }
  }
  span {
    font-weight: bold;
  }
}

.slide_three {
  position: relative;
  font-size: 1em;
  &-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-65%, -50%);
    width: 55%;
    color: black;
    overflow: hidden;
  }
  &-title {
    font-size: 2.2em;
    padding-top: 20px;
    font-family: "roboto_black";
    margin: auto;
    span {
      font-weight: bold;
      color: #d76754;
    }
  }
  &-text {
    margin: 1em 0 1em 0;
    font-family: "roboto_bold";
    font-size: 1.8em;
    line-height: 1.5em;
  }
  &-text_plus {
    font-size: 1.3em;
    font-family: "roboto_medium";
    span {
      font-style: italic;
      color: #d76754;
    }
  }
  span {
    font-weight: bold;
  }
}

.slide_four {
  position: relative;
  font-size: 1em;
  &-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-25%, -50%);
    width: 55%;
    color: black;
    overflow: hidden;
  }
  &-title {
    font-size: 2.2em;
    padding-top: 20px;
    font-family: "roboto_black";
    margin: auto;
    span {
      font-weight: bold;
      color: #d76754;
    }
  }
  &-text {
    margin: 1em 0 1em 0;
    font-family: "roboto_bold";
    font-size: 1.7em;
    line-height: 1.5em;
  }
  &-text_plus,
  &-extra_content {
    font-size: 1.1em;
    font-family: "roboto_medium";
    span {
      font-style: italic;
      color: #d76754;
    }
  }
  span {
    font-weight: bold;
  }
}

.fa-angle-double-left,
.fa-angle-double-right {
  vertical-align: -2px;
  margin-right: 5px;
  margin-left: 5px;
}

.map {
  padding-top: 85px;
  &-dimension {
    max-width: 90%;
    display: inline-block;
  }
  &-title_section {
    font-family: "roboto_black";
    text-transform: uppercase;
    padding-top: 7px;
    padding-bottom: 1.5rem;
  }
  &-map_section {
    display: inline-block;
    height: 600px;
  }
  &-station_section{
    display: inline-block;
    margin-top: 1rem;
  }
  &-button {
    z-index: 410;
    margin-top: 10px;
  }
}

.card {
  &-header {
    margin-bottom: 12px;
  }
  &-textstation {
    margin-top: 20px;
    span {
      font-weight: bold;
    }
  }
}

.booking {
  &-button {
    margin-bottom: 5px;
  }
}

.table {
  &-bold {
    font-weight: bold;
  }
  &-responsive {
    margin-top: 25px;
    margin-bottom: 15px;
  }
}

.button_split {
  width: 30%;
  margin: auto;
  height: 2px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: $darkgray;
}

.button {
  &-margin {
    margin-top: 10px;
  }
}

.popup {
  &-infos_station {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
  }
  &-infos_station_name {
    text-align: center;
  }
}

.alert_position,
.booking_alert_position {
  margin: auto;
  margin-top: 20px;
  padding-bottom: 10px;
}

.user_booking_form {
  max-width: 90%;
  margin: auto;
  margin-top: 15px;
  form {
    margin-top: 20px;
  }
  &-button {
    margin: auto;
    margin-bottom: 10px;
  }
}

.canvas {
  &-position {
    margin: auto;
  }
  &-confirm_button {
    margin-left: 10px;
  }
  &-cancel_button {
    margin-left: 10px;
  }
  &-border {
    border: 1px solid grey;
  }
}

#signature_canvas {
  display: none;
}

.footer {
  height: 100px;
  background-color: $darkgray;
  position: relative;
  margin-top: 50px;
  &-content {
    color: white;
    font-family: "roboto-regular";
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
  }
}

.user_booking_summary {
  margin-top: 15px;
  &-timer {
    font-weight: bold;
  }
}

#booking_description span {
  font-size: 1.2em;
  font-weight: bold;
}

#booking_station_name,
#current_clicked_station_name,
#booking_station_name_storage,
#booking_station_name_summary {
  font-weight: bold;
}

// ------ MEDIA QUERIES ------

@media (max-width: 1024px) {
  .slide_one,
  .slide_two,
  .slide_three {
    &-title {
      font-size: 1.5em;
    }
    &-text {
      font-size: 1.2em;
    }
    &-text_plus {
      font-size: 0.9em;
    }
  }

  .slide_four {
    &-title {
      font-size: 1.2em;
    }
    &-text {
      font-size: 1em;
    }
    &-text_plus {
      font-size: 0.7em;
    }
    &-extra_content {
      font-size: 0.7em;
    }
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 2rem;
  }

  .slide_one,
  .slide_two,
  .slide_three {
    &-title {
      font-size: 0.8em;
    }
    &-text {
      font-size: 0.6em;
    }
    &-text_plus {
      font-size: 0.4em;
    }
  }

  .slide_four {
    &-title {
      font-size: 0.7em;
    }
    &-text {
      font-size: 0.4em;
    }
    &-text_plus {
      font-size: 0.3em;
      margin-bottom: 1em;
    }
    &-extra_content {
      font-size: 0.3em;
    }
  }

  .jumbotron {
    padding-top: 200px;
    h1 {
      font-size: 2rem;
    }
    &-content {
      font-size: 0.8rem;
    }
  }

  .slider {
    padding-top: 150px;
    &-title {
      font-size: 1.5rem;
    }
  }

  .map {
    padding-top: 150px;
    &-title_section {
      font-size: 1.5rem;
    }
    &-map_section {
      height: 450px;
    }
  }

  .navbar {
    overflow: hidden;
    &-nav {
      display: block;
      margin: auto;
    }
    &-brand {
      margin: auto;
    }
    li {
      display: block;
      text-align: center;
      margin: auto;
      padding: 0 1em 0 1em;
    }
  }
}
